.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: scale(1);
  transform-origin: top center;
}

@media (min-width: 768px) {
  .lanyard-wrapper {
    min-height: 600px;
  }
}

@media (min-width: 1024px) {
  .lanyard-wrapper {
    min-height: 700px;
  }
}
